## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
api_key = ''

# Configure gmaps API key
gmaps.configure(api_key='')

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv(r"C:\Users\reske\Documents\Data Analysis Bootcamp\Week 6\Weather_Database\WeatherPy_Database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,saint-philippe,RE,-21.3585,55.7679,65.79,84,83,9.15,light rain
1,1,jamestown,RE,-21.3585,55.7679,65.79,84,83,9.15,light rain
2,2,saint-joseph,RE,-21.3585,55.7679,65.79,84,83,9.15,light rain
3,3,east london,RE,-21.3585,55.7679,65.79,84,83,9.15,light rain
4,4,concepcion,RE,-21.3585,55.7679,65.79,84,83,9.15,light rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

min_temp

What is the minimum temperature you would like for your trip? 60

60.0

In [4]:
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,saint-philippe,RE,-21.3585,55.7679,65.79,84,83,9.15,light rain
1,1,jamestown,RE,-21.3585,55.7679,65.79,84,83,9.15,light rain
2,2,saint-joseph,RE,-21.3585,55.7679,65.79,84,83,9.15,light rain
3,3,east london,RE,-21.3585,55.7679,65.79,84,83,9.15,light rain
4,4,concepcion,RE,-21.3585,55.7679,65.79,84,83,9.15,light rain

In [6]:
# 4a. Determine if there are any empty rows.
if city_data_df.empty == True:
    print('DataFrame is empty')
else:
    print('DataFrame is not empty')

DataFrame is not empty

In [20]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
city_data_df.dropna(city_data_df, inplace=True)

TypeError: 'DataFrame' objects are mutable, thus they cannot be hashed

In [18]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = hotel_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()


# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

TypeError: list indices must be integers or slices, not list

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
lat = row["Lat"]
lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
 url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key
print(url)   

    # 6e. Make request and retrieve the JSON data from the search. 
   hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

In [21]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna('Hotel Name', inplace= True)

AttributeError: 'list' object has no attribute 'dropna'

In [10]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [19]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

NameError: name 'clean_hotel_df' is not defined

In [22]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

NameError: name 'locations' is not defined